<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="https://dfir.science/assets/images/REAPERlogoMini.png" />
<meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self' https://kit.fontawesome.com https://kit-free.fontawesome.com https://ajax.cloudflare.com; style-src 'self'; img-src 'self'; font-src 'self'; connect-src 'self'; media-src 'self' ; object-src 'self' ; child-src 'self' ; frame-ancestors 'self' ; form-action 'none' ; sandbox allow-same-origin allow-scripts allow-pointer-lock; reflected-xss block;" />
<meta http-equiv="cache-control" content="Private" />
<meta http-equiv="Expires" content="600" />
<!-- end custom head snippets -->
