<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="https://dfir.science/assets/images/logos/icons/android-chrome-512x512.png" />
<link rel="apple-touch-icon" sizes="180x180" href="https://dfir.science/assets/images/logos/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dfir.science/assets/images/logos/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dfir.science/assets/images/logos/icons/favicon-16x16.png">
<link rel="manifest" href="https://dfir.science/assets/images/logos/icons/site.webmanifest">
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3664f5bc2c4350bc7454f233d/bc1e83d88c15540b3c7f781ee.js");</script>
<script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" type="text/css">


<!-- end custom head snippets -->
